@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main: #4285F4;
    --dark: #282C35;
    --light1: #ffffff;
    --light2: #f5f5f5;
    --heading-size:40px;
    --subheading-size:20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #282C35;
    text-decoration: none;
}

header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--light2);
}

.logo a {
    font-size: 1.4em;
    font-weight: 300;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav .nav-link a {
    padding: 10px 20px;
    display: block;
    /* border: 2px solid black; */
}

.nav-link a:hover {
    /* background-color: #4285F4; */
    display: block;
    color: var(--light1);
    border-radius: 7px;
    animation-name: header_glow;
    animation-duration: 1s;
}

@keyframes header_glow {
    0% {
        background-color: none;
        color: var(--dark);
    }

    50% {
        color: var(--light1);
        background-color: var(--main);
    }

    100% {
        color: var(--light1);
        background-color: var(--main);
    }

}

.image-slider {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.slide img {
    object-fit: contain;
    width: 100%;
    /* height: 500px; */
}

.image-with-text{
    background-color: var(--light1);
    margin:50px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}
.image-text-container{
    width: 50%;
}
.image-text-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    width: 50%;
    background: var(--light2);
    padding:30px;
   
}

.text-container h2{
    padding: 15px;
    font-weight: 500;
    text-align: center;
}
.menu{
    display: none;
    font-size: 1.4em;
}



.section-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 1440px;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
}

.box{
    /* width: 340px; */
    max-width: 100%;
    color: #ffffff;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    line-height: 22px;
}
.box1{
    background-color: #4285F4;
}
.box2{
    background-color: #34A853;
}
.box3{
    background-color: #FBBC05;
}
.box4{
    background-color: #EA4335;
}


.mega-container{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    grid-gap: 20px;
}
.mega1{
    height: 700px;
}
.mega2{
    
}


.border{
    border: 2px solid black;
}

@media screen and (max-width:1028px){
    .section-container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto ;
        grid-gap: 20px;
        width: 1440px;
        max-width: 100%;
        margin: 20px auto;
    }    
}
@media screen and (max-width:768px){
    .menu{
        display: block;
    }
    .nav {
        position: absolute;
        top: 80px;
        width: 87%;
        background-color: var(--light2);
        text-align: left;
        flex-direction: column;
        list-style-type: none;
        z-index: 1;
        display: none;
    }
    
    .nav .nav-link a {
        padding: 10px 20px;
        display: block;
        /* border: 2px solid black; */
    }
    .section-container{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto ;
        grid-gap: 20px;
        width: 1440px;
        max-width: 100%;
        margin: 20px auto;
    }    
}

@media screen and (max-width:425px){
    .section-container{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto ;
        grid-gap: 20px;
        width: 1440px;
        max-width: 100%;
        margin: 20px auto;
    }    
}