@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --main: #0c4256;
    --dark: #126483;
    --light1: #ffffff;
    --light2: #f5f5f5;
    --full-width:100%;
    --mid-width:1400px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #282C35;
    text-decoration: none;
}

header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--light2);
}
.logo{
    width:150px;
}

.logo a {
    font-size: 1.4em;
    font-weight: bold;
}
.logo a img{
    width: 100%;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav .nav-link a {
    padding: 10px 12px;
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-link a:hover {
    display: block;
    color: var(--light1);
    /* border-radius: 7px; */
    background-color: var(--main);

}
.menu-icons a{
    padding: 10px;
}
.collection-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}
.collection-container h2{
    text-align: center;
    margin-bottom: 20px;
}
.slide{
    margin: 15px;
    /* border-radius: 50%; */
    overflow: hidden;
}

.custom-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    align-content: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    gap: 10px;
    margin: 20px auto;
}
.cus-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cus-box1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    /* height: 600px; */
}



.image-slider {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.slide img {
    object-fit: contain;
    width: 100%;
    /* height: 500px; */
}

.image-with-text{
    background-color: var(--light1);
    margin:50px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.image-text-container{
    width: 50%;
}
.image-text-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    width: 50%;
    background: var(--light2);
    padding:30px;
   
}

.text-container h2{
    padding: 15px;
    font-weight: 500;
    text-align: center;
}
.menu{
    display: none;
    font-size: 1.4em;
}

.border{
    border: 2px solid black;
}


.product-container{
    border: 2px solid black;
    margin:auto;
    display: flex;
}

.product-menu{
    border: 2px solid black;
    width:200px;
    padding: 20px;
}
.product-content{
    border: 2px solid black;
    width:100%;
}

table, tr, td, th
{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.our-collection{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}
.our-collection h2{
    text-align: center;
    padding-bottom: 15px;
}
.collection-list{
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;    
}
.collection-box{
    position: relative;
    text-align: center;
}
.collection-box img{
    width: 100%;
}
.collection-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.signin-container h2{
    text-align: center;
    padding-bottom: 10px;
}
.signin-container form{
    padding: 20px 30px;
    width: 100%;
    max-width: 500px;
    min-height: 400px;
    /* border-radius: 10px; */
}
.signin-user label,
.signin-pass label{
    font-weight: bold;
}
.signin-pass input,
.signin-user input,
.signin-btn input{
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #dddddd;
    margin:5px 0 20px 0; 
    background: transparent;
    font-size: 15px;
    padding: 10px;
}
.signin-btn input{
    background-color: var(--main);
    color: var(--light1);
    margin:0; 
}
.signin-btn input:hover{
    background-color: var(--dark);
    color: var(--light1);
    margin:0; 
}


@media screen and (max-width:1028px){
    .menu-icons{
        display: none;
    }
}

@media screen and (max-width:768px){
    .menu{
        display: block;
    }
    
    .nav {
        position: absolute;
        top: 105px;
        width: 87%;
        background-color: var(--light2);
        text-align: left;
        flex-direction: column;
        list-style-type: none;
        z-index: 1;
        display: none;
    }
    
    .nav .nav-link a {
        padding: 10px 20px;
        display: block;
        margin: 10px;
        /* border: 2px solid black; */
    }
    .menu-icons{
        display: none;
    }
    .custom-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        width: 100%;
        max-width: 1200px;
        gap: 10px;
        margin: 0 0 20px 0;
    }

    .cus-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .cus-box1{
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
        height: 100%;
        width: 100%;
    }
    
    .image-with-text{
        flex-direction: column;
    }
    
    .image-text-container{
        width: 100%;
    }
    
    .text-container{
        width: 100%;
    }
    .collection-list{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 15px;    
    }
    
}

@media screen and (max-width:576px){
    .collection-list{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
}


