<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ananta Distributors</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <link rel="stylesheet" href="css/home-style.css">
</head>

<body>
    <section class="image-slider">
        <div class="image-container">
            <div class="slide">
                <img src="image/New Project.jpg" alt="">
            </div>
            <div class="slide">
                <img src="image/New Project.jpg" alt="">
            </div>
            <div class="slide">
                <img src="image/New Project.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="image-with-text">
        <div class="image-text-container">
            <img src="image/demo1.jpg" alt="demo01">
        </div>
        <div class="text-container">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur neque praesentium repellendus iusto expedita sint tempora perspiciatis officiis doloribus ex harum amet ullam consectetur enim provident, architecto dicta consequuntur, ipsum saepe illum minus, ea unde! Ullam ratione omnis, qui numquam assumenda repellat corrupti nobis, soluta est corporis optio nam explicabo.</p>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/home-script.js"></script>
</body>

</html>