{% extends "base.html" %}
{% load static %}

{% block main %}

<!-- <section class="image-slider" style="border: 2px solid black;">
    <div class="image-container">
        <div class="slide" >
            <img src="{% static 'image/New Project.jpg' %}" alt="" >
        </div>
        <div class="slide">
            <img src="{% static 'image/New Project.jpg' %}" alt="">
        </div>
        <div class="slide">
            <img src="{% static 'image/New Project.jpg' %}" alt="">
        </div>
    </div>
</section> -->



<div class="custom-container">
    <div class="cus-box cus-box1">
        <img src="{% static 'image/all-in-one.jpg' %}" alt="">
    </div>
    <div class="cus-box cus-box2">
        <img src="{% static 'image/all-in-one.jpg' %}" alt="">
    </div>
    <div class="cus-box cus-box3">
        <img src="{% static 'image/all-in-one.jpg' %}" alt="">
    </div>
</div>

<section class="image-with-text">
    <div class="image-text-container">
        <img src="{% static 'image/all-in-one.jpg' %}" alt="demo01">
    </div>
    <div class="text-container">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur neque praesentium repellendus iusto
            expedita sint tempora perspiciatis officiis doloribus ex harum amet ullam consectetur enim provident,
            architecto dicta consequuntur, ipsum saepe illum minus, ea unde! Ullam ratione omnis, qui numquam assumenda
            repellat corrupti nobis, soluta est corporis optio nam explicabo.</p>
    </div>
</section>




<section class="our-collection">
    <h2>Our Collection</h2>
    <div class="collection-list">
        <div class="collection-box collection01">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">Explore</a>
            </div>
        </div>
        <div class="collection-box collection02">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection03">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection04">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection05">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection06">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection05">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="collection-box collection06">
            <img src="{% static 'image/all-in-one.jpg' %}" alt="">
            <div class="collection-text-box">
                <h4>Heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>


<section class="collection-container">
    <h2>Our Partners</h2>
    <div class="customer-logos slider">
        <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">
        </div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
        <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
        </div>
    </div>
</section>

{% endblock main %}