{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
td, th{
    padding:5px;
}
{% endblock stylesheet %}
{% block main %}

<div class="product-container">
    {% comment %} <div class="product-menu">
        <a href="{% url 'add_products' %}">Add Product</a>
    </div> {% endcomment %}
    <div class="product-content">
        <table border="1">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Compare At Price</th>
                    <th>Quantity</th>
                    <th>Varient</th>
                    <th>Meta Data</th>
                    <th>Category</th>
                    <th>Product Type</th>
                    <th>Vender</th>
                    <th>Collections</th>
                    <th>Tags</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.price }}</td>
                    <td>{{product.compare_at_price }}</td>
                    <td>{{product.quantity }}</td>
                    <td>{{product.varient }}</td>
                    <td>{{product.meta_data }}</td>
                    <td>{{product.category }}</td>
                    <td>{{product.pro_type }}</td>
                    <td>{{product.vender }}</td>
                    <td>{{product.collectios }}</td>
                    <td>{{product.tags }}</td>
                </tr>
                {% endfor %}
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>


{% endblock main %}